*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif;';
    box-sizing: border-box;
}
body{
    background-color: rgb(33, 33, 37);
}
.app{
    background-color: rgb(196, 241, 91);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: black;
    font-weight: 600px;
    border-bottom: 1 px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
    text-decoration: solid;
    text-align: center;
}
.quiz h2{
    font-size: 18px;
    font-weight: 600px;
}
.btn{
    background: rgb(36, 206, 64);
    font-weight: bolder;
    width: 100%;
    border-bottom: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
}
.btn:hover:not([disabled]){
    background: black;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#question{
    font-size: 25px;
}
#next-btn{
    background: lightcoral;
    color: white;
    font-weight: 500;
    width: 200px;
    border: 0 ;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
.correct{
    background: #d6f815;

}
.incorrect{
    background: #ee28dd;
}